@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montagu: var(--font-montagu);
  --font-quattrocento: var(--font-quattrocento);
  --font-coromorant: var(--font-cormorantgaramond);
  --font-montserrat: var(--font-montserrat);
  --color-mint: oklch(0.79 0.088 171.7);
  --color-gold: oklch(0.8075 0.1635 85.03);
  --color-orange: oklch(0.72 0.147 67.4);
  --color-coral: oklch(0.78 0.17 41);
  --color-red: oklch(0.51 0.164 30.6);
  --color-gray: oklch(0.39 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* landing page */
/* hero section */
.hero {
  min-height: 100vh;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .hero {
    min-height: 80vh;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .features {
    min-height: 80vh;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .features .titles {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero .titles {
    padding-top: 3rem;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .hero {
    min-height: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}

@layer base {
  input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
  }
}

.quattro {
  font-family: var(--font-quattrocento);
}

/* carousel */
@media (max-width: 767px) {
  .left {
    left: -10px;
  }

  .right {
    right: -10px;
  }

  .bar {
    bottom: 100px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .left {
    left: -10px;
  }

  .right {
    right: -10px;
  }

  .bar {
    bottom: 100px;
  }
  /* 
  .greetings {
    font-size: 100px;
  } */

  .navButton {
    flex-direction: column;
  }
}

.spin-twice:hover {
  transform: rotate(720deg);
}
