.bigCard {
  background-color: #ffffff;
  border-radius: 14px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* margin: 16px; */
  overflow: hidden;
  width: 490.656px;
  height: 450px;  
}

.cardImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
}

.cardTitle {
  margin: 0 0 8px 0;
  font-size: 1.5rem;
}

.cardSubtitle {
  margin: 0 0 12px 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  color: #666;
}

.cardDescription {
  margin: 0;
}
